*.dll
*.bin
*.exe
*.pdb
_ReSharper.*
*.ReSharper.user
obj
bin
*.suo
*.user
*.[Cc]ache
*.ncb
*.min.js.map


/desktop.ini

ContentFile
config
/*.suo
/LoticLight.Business/bin
/LoticLight.Log/bin
/LoticLight.Log/obj
/db20170701.bak
*.exe
/ConsoleTest/bin/Debug/*.exe
/packages
