
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";

    var lstSBBType = ViewBag.lstSBBType as List<LoticLight.Model.YqSBBType>;
    var lstGSM = ViewBag.lstGSM as List<LoticLight.Model.YqGSM>;
    var lstVendor = ViewBag.lstVendor as List<LoticLight.Model.YqVendor>;
    var lstLocation = ViewBag.lstLocations as List<LoticLight.Model.YqLocation>;

   
}
<link href="~/Content/lib/jqSelect2/css/select2.min.css" rel="stylesheet" />
<script src="~/Content/lib/jqSelect2/select2.min.js"></script>


<script type="text/javascript">
    //获取url参数

    var keyValue = request('keyValue');
    $(function () {
        initControl();
    })
    //初始化控件
    function initControl() {

        $("#SBBType").select2({
           // placeholder: "==请选择==",
            height: "200px",
           // allowSearch: true
        });

        $("#GSM").select2({
           // placeholder: "==请选择==",
            height: "200px",
            //allowSearch: true
        });

        $("#Vendor").select2({
           // placeholder: "==请选择==",
            height: "200px",
           // allowSearch: true
        });

        $('#Location').select2({
            //placeholder: "",
            //allowClear: true,
            height: "200px",
            //multiple: true,
           // allowSearch: true
        })
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "/YQ/PN/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").SetWebControls(data);
                }
            });
        }

    }
    //保存表单
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").GetWebControls(keyValue);
        $.SaveForm({
            url: "/YQ/PN/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                top.frames[tabiframeId()].$("#gridTable").trigger("reloadGrid");
                //try {
                //    var $pn = top.frames['Form'].$("#PN");
                //    var oldValue = $pn.val();
                //    $pn.bsSuggest("destroy");

                //    var opt = {
                //        idField: "PN",
                //        keyField: 'FullName',
                //        effectiveFields: ['PN', 'Desp', 'SBBType', 'Vendor', 'GSM'],
                //        effectiveFieldsAlias: {
                //            'Desp': 'Description',
                //            SBBType: 'SBB Type',
                //        },
                //        searchFields: ['PN', 'Desp'],
                //        url: '/YQ/NPSAInputData/PnList?keyword=',
                //        showHeader: true,
                //        showBtn: false,
                //        ignorecase: true,
                //        listStyle: {
                //            'padding-top': 0,
                //            'max-height': '300px',
                //            'max-width': '800px',
                //            'overflow': 'auto',
                //            'width': 'auto',
                //            'transition': '0.3s',
                //            '-webkit-transition': '0.3s',
                //            '-moz-transition': '0.3s',
                //            '-o-transition': '0.3s'
                //        },
                //    }
                //    $pn.bsSuggest(opt);
                //    $pn.val(oldValue);


                //} catch (e){}
            }
        })
    }
</script>
<div style="margin-left:10px; margin-top:20px; margin-right:30px;">
    <table class="form">
        <tr>
            <td class="formTitle"><b class="ui-underline">P</b>N<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="PN" accesskey="P" type="text" onblur="" class="form-control" placeholder="Please Input PN" isvalid="yes" checkexpession="NotNull" maxlength="50"  />
            </td>
            <td class="formTitle"><b>S</b>BB Type<font face="宋体">*</font></td>
            <td class="formValue">
                <select id="SBBType" accesskey="S" type="select2" name="SBBType" class="ui-select2" style="width:100%" isvalid="yes" checkexpession="NotNull" data-maximum-selection-length="1" multiple="multiple">
                    
                    @foreach (var item in lstSBBType)
                    {
                        <option>@item.Name</option>
                    }
                </select>
           </td>
          

        </tr>
        <tr>
            <td class="formTitle"><b>D</b>esp<font face="宋体">*</font></td>
            <td class="formValue" colspan="3">
                <input id="Desp" accesskey="D" type="text" onblur="" class="form-control" isvalid="yes" checkexpession="NotNull" maxlength="50" />
            </td>
        </tr>
        <tr>
            <td class="formTitle"><b>G</b>SM<font face="宋体">*</font></td>
            <td class="formValue">
                <select id="GSM" accesskey="G" type="select2" name="GSM" class="ui-select2" style="width:100%"  isvalid="yes" checkexpession="NotNull" data-maximum-selection-length="1" multiple="multiple">
                    
                    @foreach (var item in lstGSM)
                    {
                        <option>@item.Name</option>
                    }
                </select>

            </td>

            <td class="formTitle"><b>V</b>endor<font face="宋体">*</font></td>
            <td class="formValue">
                <select id="Vendor" accesskey="V" type="select2" name="Vendor" class="ui-select2" style="width:100%" isvalid="yes"  checkexpession="NotNull" data-maximum-selection-length="1" multiple="multiple" >
                    
                    @foreach (var item in lstVendor)
                    {
                        <option>@item.Name</option>
                    }
                </select>
              
            </td>

            


        </tr>
        <tr>
            <td class="formTitle"><b>L</b>ocation<font face="宋体">*</font></td>
            <td class="formValue" colspan="3">
                <select id="Location" accesskey="L" type="select2" name="Location" class="ui-select2"  style="width:100%" isvalid="yes" checkexpession="NotNull" multiple="multiple">
                    
                    @foreach (var item in lstLocation)
                    {
                        <option>@item.Name</option>
                    }
                </select>

            </td>
        </tr>

        <tr>
            <td></td>
            <td colspan="3">
                <span class="help-block">提示:</span>
                <span class="help-block" style="margin-left:2em">1. Alt + 黑体字母 可快速访问输入框.</span>
                <span class="help-block" style="margin-left:2em">2. 下拉框 Enter键 即可选中提示项.</span>
            </td>
        </tr>
        
    </table>
</div>



