
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}


<script>
    //获取url参数
    var keyValue = request('keyValue');
    $(function () {
        initControl();
    })
    //初始化控件
    function initControl() {
        
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "/System/User/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").SetWebControls(data);
                }
            });
        }
    }
    //保存表单
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").GetWebControls(keyValue);
        $.SaveForm({
            url: "/System/User/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                top.frames[tabiframeId()].$("#gridTable").trigger("reloadGrid");
            }
        })
    }
</script>
<div style="margin-left: 10px; margin-top: 20px; margin-right: 30px;">
    <table class="form">
        
        <tr>
            <td class="formTitle">登录名称<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="LoginName" type="text" onblur="" class="form-control" placeholder="请输入名称" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">登录密码<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="Password" type="password" onblur="" class="form-control" placeholder="请输入密码" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">用户姓名<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="UserName" type="text" onblur="" class="form-control" placeholder="请输入用户姓名" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <th class="formTitle" style="height: 37px;"></th>
            <td class="formValue">
                <div class="checkbox">
                    <label>
                        <input id="Status" type="checkbox" checked="checked" />
                        有效
                    </label>
                </div>
            </td>
        </tr>
    </table>
</div>



